@use "sass:map";
@use '../abstracts/' as *;

$main-color: (
  'primary': (
    'bg-awal': $clr-primary,
    'bg-transisi': $clr-tertiary,
    'text-awal': $clr-tertiary,
    'text-transisi': $clr-primary,
    'outline-awal': $clr-primary,
    'outline-transisi': $clr-primary,
    'box-awal': $clr-secondary,
    'box-transisi': $clr-primary,
  ),
  'secondary': (
    'bg-awal': $clr-secondary,
    'bg-transisi': $clr-primary,
    'text-awal': $clr-tertiary,
    'text-transisi': $clr-secondary,
    'outline-awal': $clr-tertiary,
    'outline-transisi': $clr-secondary,
    'box-awal': $clr-primary,
    'box-transisi': $clr-secondary,
  ),
  'tertiary': (
    'bg-awal': $clr-tertiary,
    'bg-transisi': $clr-primary,
    'text-awal': $clr-primary,
    'text-transisi': $clr-tertiary,
    'outline-awal': $clr-tertiary,
    'outline-transisi': $clr-tertiary,
    'box-awal': $clr-primary,
    'box-transisi': $clr-tertiary,
  ),
  'accent': (
    'bg-awal': $clr-secondary,
    'bg-transisi': $clr-primary,
    'text-awal': $clr-tertiary,
    'text-transisi': $clr-secondary,
    'outline-awal': $clr-primary,
    'outline-transisi': $clr-primary,
    'box-awal': $clr-primary,
    'box-transisi': $clr-secondary,
  ),
);

%box-placeholder {
  --sz: 6px;

  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: var(--sz);
  height: var(--sz);
  @include transition('colors', '150');
}

%btn-default-styling {
  @include transition('colors', $duration: '150');

  position: relative;
  z-index: 10;
  display: inline-block;
  padding: 0.6em 5em;
  overflow: hidden;
  font-family: $ff-uni-sans;
  font-size: 0.95rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 0;
  outline-offset: 5px;
}

@each $type, $color in $main-color {
  .c-btn-#{$type} {
    @extend %btn-default-styling;

    color: map.get($color, 'text-awal');
    background-color: map.get($color, 'bg-awal');
    outline: 1px solid map.get($color, 'outline-awal');

    /* FIXME: Hacks */
    @include bp-max('xs') {
      padding: 0.5em 1em;
    }

    @include bp-min('sm') {
      font-size: 1rem;
    }

    @include bp-min('lg') {
      font-size: 1.3rem;
    }

    &__box {
      @extend %box-placeholder;

      background-color: map.get($color, 'box-awal');
    }

    &::before {
      @include transition('transform', '150');

      --skew: -30deg;

      position: absolute;
      top: -2px;
      right: -20px;
      bottom: -2px;
      left: -20px;
      z-index: -1;
      content: '';
      background-color: map.get($color, 'bg-transisi');
      transform: translateX(-105%) skew(var(--skew));
    }

    &:hover {
      color: map.get($color, 'text-transisi');
      outline-color: map.get($color, 'outline-transisi');

      .c-btn-#{$type}__box {
        background-color: map.get($color, 'box-transisi');
      }

      &::before {
        transform: translateX(0) skew(var(--skew));
      }
    }
  }
}
