@use 'sass:color';
@use '../abstracts/' as *;

$gap: 1rem;
$size-per-div: 1.125rem;

.carousel-indicator {
  --gap: #{$gap};

  > *:not(:last-child) {
    margin-right: var(--gap);
  }

  .tr {
    display: block;
    width: $size-per-div;
    height: $size-per-div;
    cursor: pointer;
    background-color: $clr-tertiary;
    border: 0;
    outline: 0;

    &--left {
      clip-path: polygon(100% 0, 100% 100%, 0 50%);
    }

    &--right {
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
    }
  }

  .cc {
    @include transition('colors', '150');

    --color: #{$clr-tertiary};

    flex: 0 0 auto;
    width: $size-per-div;
    height: $size-per-div;
    border: 1px solid var(--color);
    border-radius: 99999px;

    &--active {
      --color: #{$clr-secondary};

      position: relative;
      background-color: var(--color);
      border-color: var(--color);
    }
  }

  .circle-container {
    flex-wrap: nowrap;
    justify-content: initial;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    cursor: grab;

    > *:not(:last-child) {
      margin-right: 1rem;

      @include bp-min('sm') {
        margin: 0;
      }

      @include bp-min('md') {
        margin-right: 1rem;
      }
    }

    @include bp-min('sm') {
      justify-content: space-around;
      cursor: initial;
    }

    @include bp-min('md') {
      justify-content: initial;
      width: auto;
      overflow: visible;
    }
  }
}
