@use '../abstracts/' as *;
@use '../animations/' as *;

.c-loading {
  position: fixed;
  top: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba($clr-primary, 30);

  &__spinner {
    --sz: 60px;

    width: var(--sz);
    height: var(--sz);
    border: 4px solid $clr-primary;
    border-color: $clr-primary;
    border-top-color: $clr-secondary;
    border-radius: 99999px;
    @include animation(
      $name: spin,
      $duration: 1.5s,
      $timing: linear,
      $count: infinite
    );
  }

  &__text {
    margin-top: 1rem;
    color: $clr-secondary;
  }
}
