@use '../abstracts/' as *;
@use '../base/' as *;
@use '../animations/' as *;
@use '../transitions/' as *;

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(#000, 0.3);
  opacity: 0;

  &--show {
    @include animation(
      $name: fadeInLeft,
      $duration: 200ms,
      $timing: cubic-bezier(0.4, 0, 0.2, 1),
      $fillmode: forwards
    );
  }

  &--hidden {
    @include animation(
      $name: fadeOutRight,
      $duration: 200ms,
      $timing: cubic-bezier(0.4, 0, 0.2, 1),
      $fillmode: forwards
    );
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
    width: 88%;
    height: 100%;
    padding: 1.5rem 1rem;
    margin-left: auto;
    background: $clr-secondary;

    .navbar {
      position: initial;
      padding: 1rem;
      background-color: transparent;
    }

    .hamburger__line {
      visibility: hidden;

      &::before,
      &::after {
        top: 0;
        visibility: visible;
        background-color: $clr-primary;
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    .social {
      --clr-awal: #{$clr-primary};
      --clr-hover: #{$clr-tertiary};
      padding: 0 1rem;
      margin: 0 auto;
      margin-top: auto;
    }
  }

  &__list-wrapper {
    margin: 2rem 0 0;
  }

  &__list {
    padding: 0.1em 1.25em;
    padding-left: 1.5em;

    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }

    &--active {
      transform: scale(1.05) translate(15px, -2px);

      > .mobile-menu__link {
        position: relative;
        font-size: 1.4rem;
        color: $clr-primary;

        &::after {
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 3px;
          content: '';
          background-color: $clr-primary;
        }
      }
    }
  }

  &__link {
    font-family: $ff-uni-sans;
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 1;
    color: $clr-tertiary;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @include transition();

    &:hover {
      color: $clr-primary;
    }
  }
}
