// @use 'sass:color';
@use '../abstracts/' as *;
@use '../base/' as *;
@use '../transitions/' as *;

.cursor-reset {
  cursor: context-menu;
}

.dropdown {
  @include transition('all');
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10%;
  width: 200%;
  max-width: 138px;
  box-shadow: 0 0 1em rgba(#000, 0.3);
  cursor: pointer;

  &__list {
    @include transition();
    font-family: $ff-uni-sans;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 0.04em;
    padding: 0.625rem;
    background-color: $clr-secondary;
    color: $clr-tertiary;

    &:hover {
      background: mix(#fff, $clr-secondary, 30%);
    }
  }
}

.hamburger {
  --size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  background-color: transparent;
  border: 0;

  &__line {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: $clr-tertiary;

    &::before,
    &::after {
      --distance: -8px;
      position: absolute;
      right: 0;
      left: 0;
      height: 100%;
      content: '';
      background-color: inherit;
    }

    &::before {
      top: var(--distance);
    }

    &::after {
      bottom: var(--distance);
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.3rem 2rem;
  background-color: $clr-primary;

  .logo {
    height: 2rem;
  }

  &__links {
    display: none;
  }

  @include bp-min('sm') {
    position: absolute;
    padding: 2rem 3rem;
  }

  @include bp-min('md') {
    padding: 1.5rem 2rem;
    background-color: transparent;
    justify-content: initial;

    &__links {
      margin-left: 3rem;
      display: flex;
      align-items: center;
      gap: 1.8rem;
    }

    &__link {
      position: relative;
      display: flex;
      align-items: center;
      color: $clr-tertiary;

      &--active {
        color: $clr-secondary;
        &::after {
          content: '';
          position: absolute;
          left: -8%;
          right: -10%;
          bottom: -10px;
          height: 3px;
          background-color: $clr-secondary;
        }
      }

      &:hover {
        color: $clr-secondary;

        .dropdown {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &__a {
      text-transform: uppercase;
      font-family: $ff-uni-sans;
      font-weight: 900;
      line-height: 1;
      letter-spacing: 0.03em;
      font-size: 1.25rem;
    }

    .dropdown {
      opacity: 0;
      visibility: hidden;
    }

    .fas {
      font-size: 1.2rem;
      margin-top: -2px;
      margin-left: 0.4em;
      cursor: pointer;
    }

    .hamburger {
      display: none;
    }

    .logo {
      height: 3rem;
    }
  }

  @include bp-min('lg') {
    padding: 3rem;

    &__links {
      margin-left: 4rem;
    }
  }
}
