@use '../abstracts/' as *;
@use '../transitions/' as *;

.c-play-button {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: 0;

  &__spinner {
    --radius: 45px;

    width: var(--radius);
    height: var(--radius);
    background-color: transparent;
    border: 2px solid $clr-tertiary;
    border-radius: 99999px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.8rem;
    transform: translate(-40%, -50%);
    @include transition();
  }

  &:hover {
    .c-play-button__icon {
      color: $clr-secondary;
    }
  }

  @include bp-min('md') {
    &__spinner {
      --radius: 70px;
    }

    &__icon {
      font-size: 1.2rem;
    }

    &:hover {
      .c-play-button__icon {
        color: $clr-primary;
      }
    }
  }
}
