$transition-duration: (
  'DEFAULT': 150ms,
  '100': 100ms,
  '150': 200ms,
  '300': 300ms,
  '400': 400ms,
  '500': 500ms,
  '600': 600ms,
  '1000': 1000ms,
  '2000': 2000ms,
);

$transition-timing-function: (
  'DEFAULT': cubic-bezier(0.4, 0, 0.2, 1),
  'linear': linear,
  'in': cubic-bezier(0.4, 0, 1, 1),
  'out': cubic-bezier(0, 0, 0.2, 1),
  'ease': ease,
);

$transition-property: (
  'all': all,
  'DEFAULT': (
    background-color,
    border-color,
    color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
  ),
  'colors': (
    background-color,
    border-color,
    color,
    fill,
    stroke,
  ),
  'opacity': opacity,
  'shadow': box-shadow,
  'transform': transform,
  'height': (
    height,
    width,
    max-height,
    max-width,
  ),
);
