/*******************
 TUNGSTEN
 *******************/
@font-face {
  font-family: 'Tungsten Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/tungsten-bold/Tungsten-Bold.ttf') format('truetype');
}

/*******************
 Uni Sans
 *******************/
@font-face {
  font-family: 'Uni Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/uni-sans/Uni-Sans-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'Uni Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/uni-sans/Uni-Sans-Thin.otf') format('opentype');
}

/*******************
 VALORANT
 *******************/
@font-face {
  font-family: 'VALORANT';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/valorant/VALORANT.ttf') format('truetype');
}
