/* 
ROBOTO 
*/

/* Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/public/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

/* Medium */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/public/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/public/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

/* Black */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/public/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

/* 
Tungsten Bold
*/
@font-face {
  font-family: 'Tungsten Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/public/assets/fonts/tungsten-bold/Tungsten-Bold.ttf')
    format('truetype');
}

/* 
Uni Sans
*/

@font-face {
  font-family: 'Uni Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/public/assets/fonts/uni-sans/Uni-Sans-Heavy.otf')
    format('opentype');
}

@font-face {
  font-family: 'Uni Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/public/assets/fonts/uni-sans/Uni-Sans-Thin.otf') format('opentype');
}
