@use '../abstracts/' as *;

.o-section-header {
  font-family: $ff-tungsten;
  font-size: 3.4rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include bp-min('sm') {
    font-size: 5rem;
  }

  @include bp-min('md') {
    font-size: 7rem;
  }

  @include bp-min('lg') {
    font-size: 8.5rem;
  }
}

.o-section-subtitle {
  font-family: $ff-uni-sans;
  font-size: 1.3rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include bp-min('sm') {
    font-size: 1.5rem;
  }

  @include bp-min('md') {
    font-size: 1.8rem;
  }
}

.o-section-body {
  max-width: 45ch;
  font-family: $ff-roboto;
  font-size: 1rem;
  line-height: 1.6;

  @include bp-min('sm') {
    font-size: 1rem;
  }

  @include bp-min('md') {
    font-size: 1.125rem;
  }
}

.o-big-heading {
  font-family: $ff-tungsten;
  font-size: 5rem;
  line-height: 1;

  @include bp-min('md') {
    font-size: 9rem;
  }
}

.text-title {
  font-family: $ff-tungsten;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.03em;

  @include bp-min('sm') {
    font-size: 2.3rem;
  }

  @include bp-min('lg') {
    font-size: 2.5rem;
  }
}

.text-subtitle {
  font-family: $ff-uni-sans;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.025em;
}

.text-body {
  max-width: 60ch;
  line-height: 1.6;
  @include bp-min('md') {
    max-width: 35ch;
    font-size: 1.125rem;
  }
}
