@use '../abstracts/' as *;

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.carousel-indicator {
  --gap: 1rem;

  > *:not(:last-child) {
    margin-right: var(--gap);
  }

  > div {
    width: 1.125rem;
    height: 1.125rem;
  }

  .tr {
    background-color: $clr-tertiary;

    &--left {
      clip-path: polygon(100% 0, 100% 100%, 0 50%);
    }

    &--right {
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
    }
  }

  .cc {
    --color: #{$clr-tertiary};

    border: 1px solid var(--color);
    border-radius: 99999px;

    &--active {
      --color: #{$clr-secondary};

      background-color: var(--color);
      border-color: var(--color);
    }
  }
}

.text-title {
  font-family: $ff-tungsten;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.03em;

  @include bp-min('sm') {
    font-size: 2.3rem;
  }
}

.text-subtitle {
  font-family: $ff-uni-sans;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.025em;

  @include bp-min('sm') {
    font-size: 1.25rem;
  }
}

.text-body {
  max-width: 60ch;
  line-height: 1.6;
  @include bp-min('sm') {
    font-size: 1.125rem;
  }
}

.underline-after {
  position: relative;
  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 1.5em;
    height: 2px;
    content: '';
    background-color: $clr-secondary;
  }
}

.agent {
  --py: 7rem;
  --px: 2rem;

  position: relative;
  padding: var(--py) var(--px);
  color: $clr-tertiary;
  background-color: $clr-primary;

  @include bp-min('sm') {
    --px: 4rem;
  }

  &__image {
    max-width: 393px;
  }

  &__carousel {
    margin-top: 3rem;
  }

  &__content {
    width: 100%;
  }

  &__header {
    align-items: flex-start;
    margin-top: 3rem;
  }

  &__header &__name {
    font-family: $ff-tungsten;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    color: $clr-secondary;
    letter-spacing: 0.025em;

    @include bp-min('sm') {
      font-size: 8rem;
    }
  }

  &__header &__quote {
    font-family: $ff-uni-sans;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.025em;

    @include bp-min('sm') {
      margin-top: 0.5rem;
      font-size: 1.8rem;
    }

    @include bp-min('lg') {
      margin: 0;
    }
  }

  .bio {
    margin-top: 4rem;

    &__body {
      margin-top: 1.2rem;
    }
  }

  .abilities {
    width: 100%;
    margin-top: 3.5rem;

    &__icons {
      justify-content: initial;
      margin-top: 1.5rem;

      > *:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .icon {
      width: auto;
      padding: 0.5rem;
    }

    .icon--active {
      background-color: $clr-secondary;
    }

    img {
      width: 38px;
      @include bp-min('sm') {
        width: 45px;
      }
    }

    &__desc {
      margin-top: 1.25rem;
      &-title {
        color: $clr-secondary;
      }

      &-body {
        margin-top: 1rem;
      }
    }
  }
}
