@use '../abstracts/' as *;

$minheight-lg: calc(923px / 2);

@include keyframe(loader) {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: $clr-primary;

  &__circle {
    @include animation(
      $delay: 0s,
      $name: loader,
      $duration: 1.5s,
      $timing: linear,
      $count: infinite
    );

    width: clamp(5rem, 10vw, 8rem);
    height: clamp(5rem, 10vw, 8rem);
    background-color: transparent;
    border: 0.5em solid $clr-tertiary;
    border-top-color: $clr-primary;
    border-radius: 9999px;
  }

  &__text {
    margin-top: 1rem;
    font-family: $ff-tungsten;
    font-size: clamp(4rem, 10vw, 7rem);
    font-weight: 900;
    color: $clr-secondary;
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }
}

@include keyframe(fadeInTest) {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframe(scaleFadeIn) {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

.no-select {
  user-select: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-indicator {
  --gap: 1rem;

  > *:not(:last-child) {
    margin-right: var(--gap);
  }

  > div {
    width: 1.125rem;
    height: 1.125rem;
  }

  .tr {
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
    background-color: $clr-tertiary;
    border: 0;
    outline: 0;

    &--left {
      clip-path: polygon(100% 0, 100% 100%, 0 50%);
    }

    &--right {
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
    }
  }

  .cc {
    @include transition('colors', '150');

    --color: #{$clr-tertiary};

    border: 1px solid var(--color);
    border-radius: 99999px;

    &--active {
      --color: #{$clr-secondary};

      background-color: var(--color);
      border-color: var(--color);
    }
  }
}

.text-title {
  font-family: $ff-tungsten;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.03em;

  @include bp-min('sm') {
    font-size: 2.3rem;
  }

  @include bp-min('lg') {
    font-size: 2.5rem;
  }
}

.text-subtitle {
  font-family: $ff-uni-sans;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.025em;
}

.text-body {
  max-width: 60ch;
  line-height: 1.6;
  @include bp-min('md') {
    max-width: 35ch;
  }

  @include bp-min('lg') {
    font-size: 1.125rem;
  }
}

.underline-after {
  position: relative;
  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 1.5em;
    height: 2px;
    content: '';
    background-color: $clr-secondary;
  }
}

.agent {
  --py: 7rem;
  --px: 2rem;

  position: relative;
  flex-direction: column;
  padding: var(--py) var(--px);
  color: $clr-tertiary;
  background-color: $clr-primary;

  @include bp-min('sm') {
    --px: 4rem;
  }

  @include bp-min('md') {
    --py: 0;
    --px: 6rem;

    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 4.5rem;
    padding-right: 4rem;
    padding-left: 8rem;
  }

  @include bp-min('lg') {
    gap: 3rem;
    justify-content: center;
  }

  &__image {
    max-width: 393px;

    @include bp-min('md') {
      flex: 0 0 auto;
      order: 1;
      max-width: 420px;

      > img {
        @include animation(
          $delay: 0s,
          $name: scaleFadeIn,
          $duration: 0.6s,
          $timing: ease-in-out
        );
      }
    }

    @include bp-min('lg') {
      max-width: 550px;
    }
  }

  &__carousel {
    --translate-y: 4rem;

    margin-top: 3rem;

    @include bp-min('md') {
      position: absolute;
      top: 50%;
      left: -50%;
      display: inline-flex;
      margin: 0;
      transform: rotate(90deg) translateY(calc(-1 * var(--translate-y)));
    }

    @include bp-min('lg') {
      --translate-y: 8rem;
    }
  }

  &__content {
    width: 100%;

    @include bp-min('md') {
      width: 30%;
    }

    @include bp-min('lg') {
      width: auto;
      min-height: $minheight-lg;
      // min-height: 50vh;
      // margin-top: 2rem;
    }
  }

  &__header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;

    @include bp-min('md') {
      margin: 0;
    }
  }

  &__header &__name {
    @include animation(
      $delay: 0s,
      $name: 'fadeInTest',
      $duration: 500ms,
      $timing: ease,
      $fillmode: forwards
    );

    font-family: $ff-tungsten;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    color: $clr-secondary;

    @include bp-min('sm') {
      font-size: 8rem;
    }

    @include bp-min('md') {
      font-size: 10rem;
    }

    @include bp-min('lg') {
      font-size: 12rem;
    }
  }

  &__header &__quote {
    font-family: $ff-uni-sans;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.025em;

    @include bp-min('sm') {
      margin-top: 0.5rem;
      font-size: 1.8rem;
    }

    @include bp-min('md') {
      order: -1;
      margin: 0;
      font-size: 1.5rem;
    }

    @include bp-min('lg') {
      letter-spacing: 0.05em;
    }
  }

  .bio {
    margin-top: 4rem;

    @include bp-min('md') {
      margin: 0;
      margin-top: 2rem;
    }

    &__body {
      margin-top: 1.2rem;

      @include bp-min('md') {
        max-width: 45ch;
      }
    }
  }

  .abilities {
    width: 100%;
    margin-top: 3.5rem;

    @include bp-min('md') {
      order: 2;
      width: auto;
      margin: 0;
    }

    @include bp-min('lg') {
      flex-basis: 400px;
      min-height: calc(923px / 2);
    }

    &__icons {
      justify-content: initial;
      margin-top: 1.5rem;

      > *:not(:last-child) {
        margin-right: 1rem;
      }

      @include bp-min('lg') {
        margin-top: 2rem;
      }
    }

    .icon {
      position: relative;
      z-index: 1;
      width: auto;
      padding: 0.5rem;
      overflow: hidden;
      cursor: pointer;
      background-color: transparent;
      border: 0;

      @include bp-min('md') {
        &::before {
          @include transition($duration: '150', $timing: 'out');

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          content: '';
          background-color: $clr-secondary;
          transform: translateX(-110%) skew(-10deg);
        }

        &:hover::before {
          transform: translateX(0);
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }

    img {
      width: 38px;
      pointer-events: none;
      @include bp-min('sm') {
        width: 45px;
      }

      @include bp-min('md') {
        @include transition($duration: '300', $timing: 'out');

        transform: scale(1);
      }
    }

    .icon--active {
      background-color: rgba($clr-secondary, 90%);

      &::before {
        display: none;
      }
    }

    &__desc {
      margin-top: 1.25rem;

      @include bp-min('lg') {
        margin-top: 2rem;
      }

      &-title {
        color: $clr-secondary;
      }
    }

    &__desc-body {
      margin-top: 1rem;
      @include bp-min('lg') {
        max-width: 40ch;
      }
    }
  }
}
