@use '../abstracts/' as *;
@use '../components/carouselIndicator' as *;
@use '../components/loading' as *;

$minheight-lg: calc(923px / 2);

.underline-after {
  position: relative;
  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 1.5em;
    height: 2px;
    content: '';
    background-color: $clr-secondary;
  }
}

.agent-container {
  position: relative;
}

.agent {
  --py: 7rem;
  --px: 2rem;

  position: relative;
  flex-direction: column;
  padding: var(--py) var(--px);
  color: $clr-tertiary;
  background-color: $clr-primary;

  > * {
    z-index: 10;
  }

  @include bp-min('sm') {
    --px: 4rem;
  }

  @include bp-min('md') {
    --py: 0;
    --px: 6rem;

    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 4.5rem;
    padding-right: 4rem;
    padding-left: 10rem;
  }

  @include bp-min('lg') {
    gap: 3rem;
    justify-content: center;
  }

  &__image {
    max-width: 393px;

    > img {
      @include animation(
        $delay: 0s,
        $name: scaleFadeIn,
        $duration: 500ms,
        $timing: ease-in-out
      );

      @include transition();

      filter: drop-shadow(0 0 1em rgba(#000, 0.3));
    }

    @include bp-min('md') {
      flex: 0 0 auto;
      order: 1;
      max-width: 420px;
    }

    @include bp-min('lg') {
      max-width: 550px;
    }
  }

  &__carousel {
    --translate-y: 4rem;

    margin-top: 3rem;

    @include bp-min('sm') {
      max-width: 100%;
      margin-top: 4rem;
    }

    @include bp-min('md') {
      position: absolute;
      top: 50%;
      left: -50%;
      display: inline-flex;
      width: 100%;
      margin: 0;
      transform: rotate(90deg) translateY(calc(-1 * var(--translate-y)));
    }

    @include bp-min('lg') {
      --translate-y: 8rem;
    }

    .cc {
      @include bp-min('md') {
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;

    @include bp-min('md') {
      width: 30%;
      min-height: calc(100vh / 1.75);
    }

    @include bp-min('lg') {
      width: auto;
      min-height: $minheight-lg;
    }
  }

  &__header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;

    @include bp-min('md') {
      margin: 0;
    }
  }

  &__header &__name {
    @include animation(
      $delay: 0s,
      $name: slidedown,
      $duration: 500ms,
      $timing: ease-in-out,
      $fillmode: forwards
    );

    font-family: $ff-tungsten;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    color: $clr-secondary;

    @include bp-min('sm') {
      font-size: 8rem;
    }

    @include bp-min('md') {
      font-size: 10rem;
    }

    @include bp-min('lg') {
      font-size: 12rem;
    }
  }

  &__header &__quote {
    margin-top: 0.5rem;
    font-family: $ff-uni-sans;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.025em;

    @include bp-min('sm') {
      margin-top: 0.5rem;
      font-size: 1.8rem;
    }

    @include bp-min('md') {
      order: -1;
      margin: 0;
      font-size: 1.5rem;
    }

    @include bp-min('lg') {
      letter-spacing: 0.05em;
    }
  }

  .bio {
    margin-top: 3rem;

    @include bp-min('md') {
      margin: 0;
      margin-top: 2rem;
    }

    &__body {
      margin-top: 1.2rem;

      @include bp-min('md') {
        max-width: 45ch;
      }
    }
  }

  .class {
    position: absolute;
    justify-content: initial;
    width: auto;
    visibility: hidden;
    opacity: 0;

    @include bp-min('sm') {
      top: 5rem;
      right: 0;
      visibility: visible;
      opacity: 1;
    }

    @include bp-min('md') {
      top: auto;
      right: auto;
      bottom: -5rem;
      left: 0;
    }

    &__title {
      @include animation(
        $delay: 0s,
        $name: scaleFadeIn,
        $duration: 400ms,
        $timing: ease-in-out,
        $fillmode: forwards
      );

      max-width: 32px;
    }

    &__text {
      @include animation(
        $delay: 0s,
        $name: scaleFadeIn,
        $duration: 400ms,
        $timing: ease-in-out,
        $fillmode: forwards
      );

      margin-left: 1rem;
      font-family: $ff-uni-sans;
      font-size: 1.25rem;
      font-weight: 900;
      line-height: 1;
      color: $clr-tertiary;
      letter-spacing: 0.025em;
    }
  }

  .abilities {
    position: relative;
    width: 100%;
    min-height: 20rem;
    margin-top: 3.5rem;

    @include bp-min('md') {
      order: 2;
      width: 25%;
      min-height: calc(100vh / 2);
      margin: 0;
    }

    @include bp-min('lg') {
      flex-basis: 400px;
      width: auto;
      min-height: calc(923px / 2);
    }

    &__icons {
      justify-content: initial;
      margin-top: 1.5rem;

      > *:not(:last-child) {
        margin-right: 1rem;
      }

      @include bp-min('lg') {
        margin-top: 2rem;
      }
    }

    .icon {
      @for $i from 0 through 10 {
        &[data-ability-index='#{$i}'] {
          @include animation(
            $delay: 0s,
            $name: slideleft,
            $duration: #{$i * 180ms},
            $timing: ease-in-out
          );
        }
      }

      position: relative;
      z-index: 1;
      width: auto;
      padding: 0.5rem;
      overflow: hidden;
      cursor: pointer;
      background-color: transparent;
      border: 0;

      @include bp-min('md') {
        &::before {
          @include transition($duration: '150', $timing: 'out');

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          content: '';
          background-color: $clr-secondary;
          transform: translateX(-110%) skew(-10deg);
        }

        &:hover::before {
          transform: translateX(0);
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }

    img {
      width: 38px;
      pointer-events: none;
      @include bp-min('sm') {
        width: 45px;
      }

      @include bp-min('md') {
        @include transition($duration: '300', $timing: 'out');

        transform: scale(1);
      }
    }

    .icon--active {
      background-color: rgba($clr-secondary, 90%);

      &::before {
        display: none;
      }
    }

    &__desc {
      margin-top: 1.25rem;

      @include bp-min('lg') {
        margin-top: 2rem;
      }
    }

    &__desc-title {
      color: $clr-secondary;
    }

    &__desc-body {
      max-height: 250px;
      margin-top: 1rem;
      overflow: auto;
      scrollbar-color: $clr-secondary $clr-primary;

      @include bp-min('lg') {
        max-width: 40ch;
      }
    }
  }
}
