@use '../abstracts/' as *;
@use '../base' as *;
@use '../animations/' as  *;
@use '../transitions/' as *;
@use '../components/buttons';
@use '../components/mobileMenu';

body {
  font-family: $ff-roboto;
  color: $clr-primary;
  background-color: $clr-tertiary;
}

.l-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px 30px;

  @include bp-min('sm') {
    grid-template-columns: repeat(8, 1fr);
  }

  @include bp-min('md') {
    grid-template-columns: repeat(12, 1fr);
  }
}

.c-play-button {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: 0;

  &:hover {
    .c-play-button__icon {
      color: $clr-secondary;
    }
  }

  &__spinner {
    --radius: 45px;
    width: var(--radius);
    height: var(--radius);
    background-color: transparent;
    border: 2px solid $clr-tertiary;
    border-radius: 99999px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.8rem;
    transform: translate(-40%, -50%);
    @include transition();
  }

  @include bp-min('md') {
    &:hover {
      .c-play-button__icon {
        color: $clr-primary;
      }
    }

    &__spinner {
      --radius: 70px;
    }

    &__icon {
      font-size: 1.2rem;
    }
  }
}

.c-trailer {
  display: flex;
  align-items: center;
  font-family: $ff-uni-sans;
  font-weight: 900;
  text-align: left;
  letter-spacing: 0.06em;
  cursor: pointer;

  &__button {
    margin-right: 0.5rem;
  }

  &__top {
    font-size: 0.7rem;
    line-height: 1;
  }

  &__bottom {
    margin-top: 0.3rem;
    font-size: 1rem;
    line-height: 1;
  }

  @include bp-min('md') {
    &__button {
      margin-right: 1rem;
    }

    &__top,
    &__bottom {
      letter-spacing: 0.025em;
    }

    &__top {
      font-size: 1.1rem;
    }

    &__bottom {
      font-size: 1.5rem;
    }
  }
}

.c-section-header {
  font-family: $ff-tungsten;
  font-size: 3.4rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include bp-min('sm') {
    font-size: 5rem;
  }

  @include bp-min('md') {
    font-size: 7rem;
  }

  @include bp-min('lg') {
    font-size: 8.5rem;
  }
}

.o-section-subtitle {
  font-family: $ff-uni-sans;
  font-size: 1.1rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include bp-min('sm') {
    font-size: 1.5rem;
  }

  @include bp-min('md') {
    font-size: 1.8rem;
  }
}

.o-section-body {
  max-width: 45ch;
  font-size: 0.85rem;
  line-height: 1.6;
  color: $clr-text-secondary;

  @include bp-min('sm') {
    font-size: 1rem;
  }

  @include bp-min('md') {
    font-size: 1.125rem;
  }
}

.section-container {
  padding: 5.25rem 2rem;
  @include bp-min('sm') {
    padding: 4rem 3rem;
  }

  @include bp-min('md') {
    padding: 4rem 5rem;
  }
}

.grid-wrapper {
  margin-top: 2rem;

  @include bp-min('sm') {
    margin-top: 3rem;
  }

  @include bp-min('md') {
    margin-top: 4.5rem;
  }
}

.c-loading {
  position: fixed;
  top: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: $clr-tertiary;

  &__spinner {
    --sz: 60px;
    width: var(--sz);
    height: var(--sz);
    border: 4px solid $clr-primary;
    border-color: $clr-primary;
    border-top-color: $clr-secondary;
    border-radius: 99999px;
    @include animation(
      $name: spin,
      $duration: 1.5s,
      $timing: linear,
      $count: infinite
    );
  }

  &__text {
    margin-top: 1rem;
  }
}

.social {
  --clr-awal: #{$clr-tertiary};
  --clr-hover: #{$clr-secondary};
  display: flex;
  align-items: center;

  &__link {
    font-size: 1.3rem;
    color: var(--clr-awal);
    @include transition();

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &:hover {
      color: var(--clr-hover);
      transform: translateY(-8px);
    }
  }

  @include bp-min('md') {
    &__link {
      font-size: 1.7rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

.scroll-down {
  display: none;

  @include bp-min('sm') {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    @include animation($name: bounce, $duration: 1s, $count: infinite);
  }

  @include bp-min('md') {
    display: none;
  }
}

.hamburger {
  --size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  background-color: transparent;
  border: 0;

  &__line {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: $clr-tertiary;

    &::before,
    &::after {
      --distance: -8px;
      position: absolute;
      right: 0;
      left: 0;
      height: 100%;
      content: '';
      background-color: inherit;
    }

    &::before {
      top: var(--distance);
    }

    &::after {
      bottom: var(--distance);
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.3rem 2rem;
  background-color: $clr-primary;

  @include bp-min('sm') {
    position: absolute;
    padding: 2rem 3rem;
  }

  .logo {
    height: 2rem;
  }

  @include bp-min('md') {
    padding: 1.5rem 2rem;
    background-color: transparent;

    .hamburger {
      display: none;
    }

    .logo {
      height: 3rem;
    }
  }

  @include bp-min('lg') {
    padding: 3rem;
  }
}

.top {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: $clr-tertiary;
  text-align: center;
  background-color: $clr-primary;

  &__image {
    &--mobile {
      display: none;
    }
    &--desktop {
      display: none;
    }
  }

  &__title {
    font-family: $ff-uni-sans;
    font-size: 4rem;
    font-weight: 900;
    line-height: 0.97;
    letter-spacing: 0.05em;
    filter: drop-shadow(0 0 10px rgba($clr-primary, 0.8));
  }

  &__subtitle {
    max-width: 55ch;
    padding: 0 0.2rem;
    margin-top: 1rem;
    font-family: $ff-roboto;
    font-size: 1rem;
    line-height: 1.6;
  }

  &__btn {
    margin-top: 2rem;
  }

  &__container {
    position: absolute;
    right: 0;
    bottom: 2rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  @include bp-min('sm') {
    &__content--wrapper {
      margin-top: 20rem;
    }

    &__image--desktop {
      display: none;
    }

    &__image--mobile {
      position: absolute;
      top: 12%;
      left: 50%;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: linear-gradient(180deg, transparent 45%, $clr-primary 55%),
        url('../assets/images/jett.png');
      background-repeat: no-repeat;
      background-position: top center;
      transform: translateX(-50%);
    }

    &__title {
      font-size: 5.5rem;
    }

    &__subtitle {
      margin-top: 1.5rem;
      font-size: 1.2rem;
    }

    &__btn {
      margin-top: 3rem;
    }
  }

  @include bp-min('md') {
    flex-direction: row;
    justify-content: initial;
    padding-bottom: 2rem;
    overflow: clip;

    &__container {
      padding: 0 2.5rem;
    }

    &::after {
      position: absolute;
      top: 0;
      right: -48%;
      bottom: 0;
      z-index: -1;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      content: '';
      background-color: $clr-secondary;
      box-shadow: 0 0 10px rgba(#000, 0.3);
    }

    &__image--mobile {
      display: none;
    }

    &__image--desktop {
      display: block;
      order: 1;
      margin-top: auto;
      filter: drop-shadow(0 0 1em rgba(#000, 0.3));

      .character {
        max-width: 90%;
      }
    }

    &__content--wrapper {
      margin: initial;
      text-align: left;
    }

    &__subtitle {
      max-width: 45ch;
    }
  }

  @include bp-min('lg') {
    align-items: center;
    &__title {
      font-size: 6rem;
    }

    &__image--desktop {
      margin-top: 0;
      margin-left: 2rem;
      .character {
        max-width: 100%;
      }
    }
  }
}

.c-newspaper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  cursor: pointer;

  &:hover {
    .c-newspaper__image {
      &::before {
        transform: translateX(0);
      }
    }
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 200px;
    overflow: hidden;
    background-color: #c4c4c4;

    &::before {
      position: absolute;
      top: 0;
      width: 102%;
      height: 101%;
      content: '';
      background-color: rgba($clr-secondary, 0.6);
      transform: translateX(-110%) skew(-20deg);
      @include transition();
    }
  }

  &__date,
  &__headlines {
    font-family: $ff-uni-sans;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0.04em;
  }

  &__date {
    margin-top: 1rem;
    font-size: 1rem;
  }

  &__headlines {
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 0.8;
    color: $clr-secondary;
  }

  @include bp-min('sm') {
    &__image {
      width: 550px;
      height: 300px;
    }
    &__date {
      margin-top: 1.25rem;
      font-size: 1.25rem;
    }

    &__headlines {
      margin-top: 1rem;
      font-size: 1.8rem;
      line-height: 0.8;
      color: $clr-secondary;
    }
  }

  @include bp-min('md') {
    &__image {
      width: 382px;
      height: 232px;
    }
  }
}

.news {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 6rem;

  &__title {
    position: relative;
    top: 2.5rem;
    left: 0.4rem;
    z-index: 10;
    color: $clr-secondary;
  }

  &__link--mobile {
    display: inline-block;
    margin-top: 1rem;
    font-family: $ff-uni-sans;
    font-weight: 900;
    color: $clr-secondary;
    letter-spacing: 0.04em;

    i {
      margin-left: 0.5rem;
    }
  }

  .l-news-wrapper {
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 4rem;
    align-items: center;
    justify-items: center;
    padding: 1.5rem 0;
    overflow: hidden;
  }

  @include bp-min('sm') {
    &__link--mobile {
      display: none;
    }

    &__title {
      position: relative;
      top: 3.5rem;
      left: 0.4rem;
      z-index: 10;
      font-size: 7rem;
      color: $clr-secondary;
    }
    .l-news-wrapper {
      overflow: scroll;
      overflow-y: hidden;
      scrollbar-width: thin;
      scrollbar-color: $clr-primary $clr-tertiary;
    }
  }

  @include bp-min('md') {
    padding-bottom: 5.5rem;
  }
}

.agents {
  position: relative;
  width: 100%;
  color: $clr-tertiary;
  background-color: $clr-secondary;

  &--wrapper {
    @extend .section-container;
    padding-bottom: 2rem;
  }

  &__body {
    max-width: 35ch;
    margin-top: 2rem;
    line-height: 1.6;
    color: $clr-tertiary;
  }

  &__btn--desktop {
    display: none;
  }

  &__btn {
    position: absolute;
    bottom: 80px;
    left: 50%;
    z-index: 10;
    padding: 0.5em 1.5em;
    transform: translateX(-50%);
  }

  &__images {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    overflow-x: clip; // FIXME: Hacks

    .sage {
      width: 70%;
      max-width: 320px;
      transform: translateX(-10px);
    }

    .raze {
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      max-width: 320px;
      transform: translate(1rem, 3rem);
    }
  }

  @include bp-min('sm') {
    &__body {
      max-width: 65ch;
      font-size: 1rem;
    }

    &__btn {
      bottom: 150px;
      padding: 0.6em 4.5em;
      font-size: 1rem;
    }
  }

  @include bp-min('md') {
    display: flex;
    padding: 4rem 0;

    &--wrapper {
      display: flex;
      flex-direction: column;
      order: 1;
      padding-top: 0;
      padding-bottom: 0;
      margin-left: auto;
    }

    &__title {
      max-width: 8ch;
      line-height: 1;
    }

    &__body {
      max-width: 50ch;
      margin-top: 2.5rem;
      font-size: 1.125rem;
    }

    &__btn--desktop {
      display: initial;
      max-width: 80%;
      margin-top: 6rem;
    }

    &__btn {
      display: none;
    }

    &__images {
      flex-grow: 1;
      max-width: none;
      margin: 0;

      .sage {
        width: 60%;
        max-width: 100%;
        transform: translateX(10%);
      }

      .raze {
        top: 18%;
        left: 40%;
        width: 60%;
        max-width: 100%;
        transform: translate(0);
      }
    }
  }

  @include bp-min('lg') {
    padding-right: 5rem;
    padding-left: 5rem;

    &--wrapper {
      justify-content: center;
    }

    &__images {
      .sage {
        width: 45%;
        transform: translateX(20%);
      }

      .raze {
        top: 15%;
        width: 45%;
      }
    }
  }
}

.maps {
  padding-top: 7rem;

  &--bg-image {
    background-image: url('../assets/images/maps-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    grid-column: 1/6;
  }

  &__body {
    margin-top: 1rem;
  }

  &__btn {
    margin-top: 3rem;
  }

  @include bp-min('md') {
    &--bg-image {
      background-position: center center;
    }
  }

  @include bp-min('lg') {
    min-height: 100vh;
    max-height: 120vh;
    margin-top: 3.5rem;
    &--bg-image {
      background-position: top -5px left 0px;
    }
  }
}

.footer {
  width: 100%;
  color: $clr-tertiary;
  background-color: $clr-primary;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 2.1rem;
  }

  &__title {
    font-family: $ff-uni-sans;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.04em;
  }

  .social {
    &__link {
      font-size: 1.4rem;
    }
  }

  &__bottom {
    padding: 1.125rem 1.8rem;
    background-color: $clr-secondary;
  }

  .copyright {
    margin: 0 auto;
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: center;

    &__links {
      display: none;
    }
  }

  @include bp-min('sm') {
    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem 2.1rem;
    }

    .social {
      &__link {
        &:not(:last-child) {
          margin-right: 2.25rem;
        }
      }
    }

    .copyright {
      max-width: 80ch;
      font-size: 1.125rem;
      &__links {
        display: inline-flex;
        gap: 1rem;
        margin-top: 1px;
        text-align: center;
      }

      &__link {
        font-size: inherit;
        color: $clr-tertiary;
        text-decoration: underline;
      }
    }
  }
}
