@use '../abstracts/' as *;

$bg-decor-main: $clr-tertiary;
$bg-decor-trans: rgba($clr-primary, 40%);

.decor-b-l {
  --size: 1rem;

  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  background-color: $bg-decor-main;

  @include bp-min('sm') {
    --size: 1.5rem;
  }

  @include bp-min('md') {
    --size: 2rem;
  }

  @include bp-min('lg') {
    --size: 2.5rem;
  }

  .rect-top {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $bg-decor-main;
    transform: translateY(calc(-1 * var(--size)));

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $bg-decor-trans;
      transform: translateY(calc(-1 * var(--size)));
    }
  }

  .rect-bottom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $bg-decor-main;
    transform: translateX(calc(1 * var(--size)));

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $bg-decor-trans;
      transform: translateY(calc(-1 * var(--size)));
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $bg-decor-trans;
      transform: translateX(calc(1 * var(--size)));
    }
  }
}

.decor-t-r {
  --size: 1rem;

  position: absolute;
  top: 0;
  right: 0;
  width: var(--size);
  height: var(--size);
  background-color: $bg-decor-main;

  @include bp-min('sm') {
    --size: 1.5rem;
  }

  @include bp-min('md') {
    --size: 2rem;
  }

  @include bp-min('lg') {
    --size: 2.5rem;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: $bg-decor-trans;
    transform: translateX(calc(-1 * var(--size)));
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(2 * var(--size));
    content: '';
    background-color: $bg-decor-trans;
    transform: translateY(calc(1 * var(--size)));
  }
}

.maps-navbar {
  background-color: $clr-primary;
}

.maps-container {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: linear-gradient(
        rgba($clr-tertiary, 50%),
        rgba($clr-tertiary, 50%)
      ),
      url('/assets/images/bg-pattern.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.maps {
  --gap: 0;

  gap: var(--gap);
  min-height: 40rem;
  padding: 8rem 2rem 4rem 2rem;

  @include bp-min('sm') {
    padding: 10rem 4rem 6rem 4rem;
  }

  @include bp-min('md') {
    --gap: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 7rem 4rem 1rem 4rem;
  }

  @include bp-min('lg') {
    --gap: 8rem;
  }

  .l-maps-image {
    position: relative;
    &::after {
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 20%;
      height: 4px;
      content: '';
      background-color: $clr-secondary;
    }

    @include bp-min('md') {
      order: 1;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(-1 * var(--gap) / 2);
        width: 2px;
        content: '';
        background-color: $clr-primary;
        transform: scaleY(1.1);
      }
    }
  }

  .l-flex-map-img {
    display: flex;
    justify-content: center;
    min-height: 175px;

    &:empty {
      height: 180px;
      background-color: $clr-text-secondary;

      @include bp-min('sm') {
        height: 400px;
      }

      @include bp-min('md') {
        width: 70vw;
        max-width: 850px;
      }

      @include bp-min('lg') {
        width: 1200px;
      }
    }

    @include bp-min('md') {
      height: 480px;
    }

    @include bp-min('lg') {
      min-width: 1200px;
      height: 650px;
    }
  }

  &__image {
    @include animation($delay: 0s, $name: fadein, $duration: 400ms);

    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .l-maps-description {
    @include bp-min('md') {
      display: flex;
      flex-direction: column;
    }
  }

  &__buttons {
    justify-content: initial;
    margin-top: 2rem;

    @include bp-min('md') {
      order: 1;
    }

    > .icon {
      @include transition();

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25em 0.5em;
      font-size: 1.25rem;
      cursor: pointer;
      background-color: $clr-secondary;
      border: 0;

      &:hover {
        color: $clr-tertiary;
        background-color: $clr-primary;
      }

      @include bp-min('sm') {
        font-size: 1.5rem;
      }

      @include bp-min('md') {
        font-size: 1.75rem;
      }

      &:not(:last-child) {
        margin-right: 1.5rem;

        @include bp-min('md') {
          margin-right: 3rem;
        }
      }
    }
  }

  &__name {
    @include animation($delay: 0s, $name: slidedown, $duration: 350ms);

    margin-top: 2rem;
    font-family: $ff-tungsten;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    color: $clr-primary;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @include bp-min('sm') {
      font-size: 5rem;
    }

    @include bp-min('md') {
      font-size: 7rem;
    }
  }

  &__name .decor-dot {
    color: $clr-secondary;
  }

  &__description {
    padding-right: 1rem;
    margin-top: 1rem;
    font-family: $ff-roboto;
    font-size: 1rem;
    line-height: 1.5;
    color: $clr-primary;
    letter-spacing: 0.01em;

    @include bp-min('sm') {
      max-width: 50ch;
      font-size: 1.125rem;
    }

    @include bp-min('md') {
      max-width: 35ch;
      padding: 0;
    }
  }

  .underline {
    width: 30%;
    height: 3px;
    margin-top: 1.5rem;
    background-color: $clr-secondary;
  }
}

.maps-footer {
  @include bp-min('md') {
    display: none;
  }
}
