@use '../abstracts/' as *;

$clr-error: hsl(0, 100%, 74%);
$clr-success: hsl(154, 59%, 51%);
$clr-focus: hsl(248, 32%, 49%);

@mixin outline($clr) {
  box-shadow: 0 0 0 1pt $clr;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem 1.5rem;
  padding-top: 4rem;
  background: linear-gradient(180deg, transparent 30%, $clr-primary),
    url('/assets/images/register-bg.jpg');
  background-position: center center;
  background-size: cover;
}

.register-logo {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;

  @include bp-min('sm') {
    top: 3rem;
    left: 3rem;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.register {
  width: 100%;

  @include bp-min('md') {
    display: flex;
    max-width: none;
    padding: 0 2rem;
  }

  @include bp-min('lg') {
    gap: 30rem;
    justify-content: center;
  }

  &__title {
    width: 100%;
    margin-bottom: 2rem;
    color: $clr-tertiary;
    text-align: center;

    @include bp-min('md') {
      max-width: 8ch;
      margin-top: auto;
      margin-left: 3rem;
      font-size: 7rem;
      line-height: 0.9;
      text-align: left;
    }

    @include bp-min('lg') {
      margin-left: 0;
    }
  }
}

.form {
  max-height: 650px;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: #fff;

  > * + * {
    margin-top: 1.125rem;

    @include bp-min('md') {
      margin-top: 1.5rem;
    }
  }

  @include bp-min('sm') {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  @include bp-min('md') {
    width: 100%;
    max-width: 500px;
    margin: 0;
    margin-left: auto;
  }

  @include bp-min('lg') {
    margin-left: 0;
  }

  .helper-text {
    max-height: 0;
    margin: 0.25rem 0.5rem;
    margin-bottom: -0.5rem;
    font-family: $ff-roboto;
    font-size: 0.75rem;
    font-style: italic;
    color: $clr-error;
    text-align: right;
    visibility: hidden;
    opacity: 0;
    transition: max-height 250ms ease, opacity 250ms ease, visibility 250ms ease;

    &--terms {
      text-align: left;
    }
  }

  &__control {
    position: relative;
    width: 100%;

    &--button {
      margin-top: 2rem;

      @include bp-min('md') {
        margin-top: 3rem;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 1.125em;
    font-family: $ff-roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: $clr-primary;
    background-color: #e7e7e7;
    border: 0;
    border-radius: 0.25rem;
    outline: 0;

    &::placeholder {
      font-family: $ff-roboto;
      font-size: 0.9rem;
      font-weight: 900;
    }

    &:focus {
      @include outline($clr-focus);

      background-color: transparent;
    }
  }

  &__input--password {
    display: flex;
    align-items: center;

    &:focus-within {
      @include outline($clr-focus);

      background-color: transparent;
    }

    > input {
      flex-basis: 100%;
      font-family: $ff-roboto;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      color: $clr-primary;
      background-color: transparent;
      border: 0;
      outline: 0;

      &::placeholder {
        font-family: $ff-roboto;
        font-size: 0.9rem;
        font-weight: 900;
      }
    }

    > i {
      font-size: 1.125rem;
      cursor: pointer;
    }
  }

  &__control.is-error {
    .form__input {
      @include outline($clr-error);
    }

    .helper-text {
      max-height: 2em;
      visibility: visible;
      opacity: 1;
    }
  }

  &__control.is-success {
    .form__input {
      @include outline($clr-success);
    }

    .helper-text {
      max-height: 0;
      visibility: hidden;
      opacity: 0;
    }
  }

  .dob-wrapper {
    display: flex;
    align-items: center;

    > * + * {
      margin-left: 0.2rem;
    }

    > input {
      font-weight: 500;
    }
  }

  .password-wrapper {
    display: flex;
    align-items: center;
  }

  &__select {
    padding: 1em 0.85em;
    font-weight: 700;
    cursor: pointer;
  }

  &__option {
    font-size: 1rem;
    font-weight: 400;
  }

  &__submit {
    width: 100%;
  }
}

.alert {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba($clr-primary, 70%);

  &__header {
    //stylelint-disable
    > * + * {
      margin-top: 1rem;
    }
    //stylelint-enable

    @include bp-min('md') {
      display: flex;
      align-items: center;
      justify-content: center;

      > * + * {
        margin: 0;
        margin-left: 2rem;
      }
    }
  }

  &__body {
    padding: 2rem;
    margin: 0 1.5rem;
    text-align: center;
    background-color: $clr-tertiary;
    border-radius: 4px;

    //stylelint-disable
    > * + * {
      margin-top: 1rem;
    }
    //stylelint-enable

    @include bp-min('sm') {
      margin: 0 3rem;
    }
  }

  &__icon {
    font-size: 4rem;
  }

  &__title {
    font-family: $ff-tungsten;
    font-size: 3.5rem;
    line-height: 1;
    color: $clr-primary;

    @include bp-min('md') {
      font-size: 4rem;
    }
  }

  &__description {
    line-height: 1.5;

    @include bp-min('md') {
      font-size: 1.25rem;
    }
  }

  &__redirect {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-style: italic;

    .counter {
      font-weight: 500;
    }
  }
}
