@use 'sass:color';
@use '../abstracts/' as *;

/*******************
 REQUIREMENT
 *******************/

.big-heading {
  font-family: $ff-tungsten;
  font-size: 5rem; /* 80px */
  line-height: 1;
  color: $clr-tertiary;

  @include bp-min('md') {
    font-size: 9rem;
  }
}

.spec {
  @include override-class('.l-section-container') {
    height: 100%;
    min-height: 100%;
    padding-top: 9rem;
    padding-bottom: 1rem;
    background-color: $clr-primary;
    @include bp-min('md') {
      padding-top: 4rem;
    }
  }

  &__header {
    @include bp-min('sm') {
      display: flex;
    }

    @include bp-min('md') {
      gap: 20%;
    }
  }

  &__title {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      top: 100%;
      right: -1em;
      left: 0;
      height: 0.05em;
      content: '';
      background-color: $clr-tertiary;
    }

    @include bp-min('sm') {
      align-self: flex-start;
      margin-top: 3rem; /* Magic Number */
    }

    @include bp-min('md') {
      align-self: center;
    }
  }

  &__image {
    /* Translate in y direction */
    $tr-y: 3rem;

    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    transform: translateY($tr-y);

    @include bp-min('sm') {
      margin: 0;
      margin-left: auto;
      transform: translateY(($tr-y + 2));
    }

    @include bp-min('md') {
      margin: 0;
      margin-left: auto;
    }

    @include bp-min('lg') {
      width: auto;
      max-width: none;
      margin: 0;
      margin-right: 20%;
      margin-left: auto;
    }
  }

  &__image * {
    filter: drop-shadow(0 0 1em rgba(#000, 0.3));
  }
}

.requirement {
  padding-top: 8rem !important;

  @include bp-min('md') {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;

    @include bp-min('sm') {
      flex-direction: row;
      align-items: center;
      justify-content: initial;
      font-size: calc(5rem - 2rem);
    }

    @include bp-min('md') {
      font-size: 4rem;
    }
  }

  &__title .icon {
    margin-bottom: 1rem;
    font-size: 0.6em;
    @include bp-min('sm') {
      order: 1;
      margin: 0;
      margin-left: 1rem;
    }
  }
}

.l-requirement-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 5rem;

  @include bp-min('sm') {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include bp-min('md') {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4.5rem;
  }
}

.req-card {
  position: relative;
  max-width: 350px;
  padding: 0.75rem 0.5rem;
  background-color: $clr-tertiary;

  & + & {
    margin: 0;
    margin-top: 3rem;

    @include bp-min('md') {
      margin: 0;
    }
  }

  &::before,
  &::after {
    /* determine how long  */
    --pseudo-width: 40%;

    /* determine how thick it is */
    --pseudo-offset: -0.2rem;

    position: absolute;
    z-index: -1;
    width: var(--pseudo-width);
    height: var(--pseudo-width);
    content: '';
  }

  &::before {
    top: var(--pseudo-offset);
    left: var(--pseudo-offset);
    background-color: $clr-primary;
  }

  &::after {
    right: var(--pseudo-offset);
    bottom: var(--pseudo-offset);
    background-color: $clr-primary;
  }

  &__header {
    padding: 0.1em 0;
    text-align: center;
  }

  &__title {
    font-family: $ff-uni-sans;
    font-size: 1.5rem;
    color: $clr-primary;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: $ff-roboto;
    font-size: 1rem;
    font-weight: 700;
    color: $clr-secondary;
    text-transform: uppercase;
  }

  &__lists {
    margin-top: 1.25rem;
  }

  &__list {
    padding: 0 1.25rem; /* 0 20px */
    font-size: 1.125rem;
    color: $clr-primary;

    & + & {
      margin-top: 0.8rem; /* Magic number */
    }
  }

  /* --------------------------- */
  &--recommended &__header {
    background-color: $clr-primary;
  }

  &--recommended &__title {
    color: $clr-tertiary;
  }
}
