@use '../abstracts/' as *;

/*******************
 REQUIREMENT
 *******************/

.big-heading {
  font-family: $ff-tungsten;
  font-size: 5rem; /* 80px */
  line-height: 1;
  color: $clr-tertiary;
}

.spec {
  height: 100%;
  min-height: 100%;
  padding-top: 9rem !important;
  padding-bottom: 1rem !important;
  background-color: $clr-primary;

  &__title {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      top: 100%;
      right: -1em;
      left: 0;
      height: 0.05em;
      content: '';
      background-color: $clr-tertiary;
    }
  }

  &__image {
    width: 90%;
    margin: 0 auto;
    transform: translateY(3rem);
  }
}
