@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use '../abstracts/' as *;

/*******************
 REQUIREMENT
 *******************/
$color-lists: (
  'minimum': (
    'BACKGROUND': $clr-tertiary,
    'title': $clr-primary,
    'subtitle': $clr-secondary,
    'list': $clr-primary,
  ),
  'recommended': (
    'BACKGROUND': $clr-primary,
    'title': $clr-tertiary,
    'subtitle': $clr-secondary,
    'list': $clr-tertiary,
  ),
  'highend': (
    'BACKGROUND': $clr-secondary,
    'title': $clr-primary,
    'subtitle': $clr-tertiary,
    'list': $clr-primary,
  ),
);

@mixin variants($list) {
  @each $type, $obj in $list {
    @each $selector, $color in $obj {
      @if ($selector == 'BACKGROUND') {
        &--#{$type} {
          background-color: $color;
        }
      } @else {
        &--#{$type} &__#{$selector} {
          color: $color;
        }
      }
    }
  }
}

@mixin text-outline($default-color, $fill-color, $stroke-width, $stroke-color) {
  color: $default-color;
  -webkit-text-fill-color: $fill-color;
  -webkit-text-stroke-width: $stroke-width;
  -webkit-text-stroke-color: $stroke-color;
}

.spec {
  position: relative;
  z-index: 1;
  height: 100%;
  min-height: 100%;
  background-color: $clr-primary;

  @include override-class('.l-section-container') {
    padding-top: 9rem;
    padding-bottom: 1rem;
    @include bp-min('md') {
      padding-top: 4rem;
    }
  }

  &__header {
    position: relative;
    @include bp-min('sm') {
      display: flex;
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    color: $clr-tertiary;

    @include bp-min('sm') {
      align-self: flex-start;
      margin-top: 3rem; /* Magic Number */
    }

    @include bp-min('md') {
      align-self: center;
      margin: 0;
      font-size: 11rem;
    }

    &::after,
    &::before {
      position: absolute;
      content: '';
    }

    &::before {
      /* LINE */
      --line-top-offset: -1.5rem;

      top: var(--line-top-offset);
      left: 0;
      width: 7em;
      height: 1px;
      background-color: $clr-tertiary;

      @include bp-min('sm') {
        --line-top-offset: -4rem;
      }

      @include bp-min('lg') {
        display: none;
      }
    }

    &::after {
      --box-offset: -1rem;

      bottom: var(--box-offset);
      left: var(--box-offset);
      width: 0.5rem;
      height: 0.5rem;
      background-color: $clr-secondary;

      @include bp-min('sm') {
        --box-offset: -2rem;
      }

      @include bp-min('lg') {
        /* BIG UNDERLINE */
        @include animation(
          $delay: 0s,
          $name: underlineSlide,
          $duration: 0.4s,
          $timing: ease-out,
          $count: 1,
          $direction: alternate,
          $fillmode: forwards,
          $play-state: running
        );

        width: 15rem;
      }
    }
  }

  &__image {
    /* Translate in y direction */
    $tr-y: 3rem;

    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    transform: translateY($tr-y);

    img {
      filter: drop-shadow(0 0 1em rgba(#000, 0.3));
    }

    @include bp-min('sm') {
      margin: 0;
      margin-left: auto;
      transform: translateY(($tr-y + 2));
    }

    @include bp-min('md') {
      margin: 0;
      margin-right: 10rem;
      margin-left: auto;
    }

    @include bp-min('lg') {
      width: auto;
      max-width: none;
      margin: 0;
      margin-right: 20%;
      margin-left: auto;
    }

    &::after {
      /* DEFY THE LIMITS */
      position: absolute;
      top: 10rem;
      right: -10rem;
      max-width: 10ch;
      font-family: $ff-uni-sans;
      font-size: 1rem;
      font-weight: 900;
      color: $clr-secondary;
      letter-spacing: 0.07em;
      content: 'DEFY THE LIMITS';
      transform: rotate(90deg);

      @include bp-min('lg') {
        top: 6rem;
      }
    }
  }

  .big-laforant-text {
    @include text-outline(
      $default-color: $clr-tertiary,
      $fill-color: transparent,
      $stroke-width: 1px,
      $stroke-color: rgba($clr-tertiary, 0.3)
    );

    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    font-family: $ff-valorant;
    font-size: 15.625rem; /* 250px */
    line-height: 0.55; /* Magic Number */
    transform: translateX(-50%);

    @include bp-min('lg') {
      font-size: 18rem;
    }
  }
}

.requirement {
  @include override-class('.l-section-container') {
    padding-top: 8rem;

    @include bp-min('md') {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }

  position: relative;
  background: url('/assets/images/bg-requirements.png');
  background-repeat: no-repeat;
  background-position: left 2rem top 5rem;
  background-size: 100%;

  @include bp-min('lg') {
    background-position: top 4rem center;
    background-size: 90%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;

    @include bp-min('sm') {
      flex-direction: row;
      align-items: center;
      justify-content: initial;
      font-size: calc(5rem - 2rem);
    }

    @include bp-min('md') {
      font-size: 4rem;
    }

    @include bp-min('lg') {
      font-size: 5.5rem;
    }
  }

  &__title .icon {
    margin-bottom: 1rem;
    font-size: 0.6em;
    @include bp-min('sm') {
      order: 1;
      margin: 0;
      margin-left: 1rem;
    }
  }
}

.l-requirement-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 5rem;

  @include bp-min('sm') {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include bp-min('md') {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;

    > * {
      width: 100%;
    }
  }
}

.req-card {
  @include variants($color-lists);

  position: relative;
  max-width: 350px;
  padding: 1rem 0.5rem;
  background-color: transparent;
  outline: 3px solid $clr-primary;

  @include bp-min('lg') {
    max-width: none;
  }

  & + & {
    margin: 0;
    margin-top: 3rem;

    @include bp-min('md') {
      margin: 0;
      margin-left: 6rem;
    }
  }

  &__header {
    padding: 0.1em 0;
    text-align: center;
  }

  &__title {
    font-family: $ff-uni-sans;
    font-size: 1.5rem;
    color: $clr-primary;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  &__subtitle {
    font-family: $ff-roboto;
    font-size: 1rem;
    font-weight: 700;
    color: $clr-secondary;
    text-transform: uppercase;
  }

  &__lists {
    margin-top: 1.25rem;
  }

  &__list {
    padding: 0 1.25rem; /* 0 20px */
    font-size: 1.125rem;
    color: $clr-primary;

    & + & {
      margin-top: 0.8rem; /* Magic number */
    }

    @include bp-min('lg') {
      font-size: 1.5rem;
    }
  }
}
