/*******************
 Box Sizing
 *******************/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/*******************
 Lists
 *******************/
ul {
  list-style: none;
}

/*******************
 Links
 *******************/
a,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
/*******************
 Forms and buttons
 *******************/
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 1px solid gray;
}

button * {
  pointer-events: none;
}

/***********************************
Image, video, svg
 ***********************************/
img,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 100%;
}

/*******************
hidden attribute
 *******************/
[hidden] {
  opacity: 0;
  visibility: hidden;
}
