$clr-primary: hsl(210, 40%, 10%);
$clr-secondary: hsl(355, 100%, 64%);

$clr-tertiary: hsl(38, 22%, 90%);
$clr-text-secondary: hsl(215, 14%, 34%);

$ff-tungsten: 'Tungsten Bold', 'Segoe Ui', sans-serif;
$ff-uni-sans: 'Uni Sans', 'Segoe Ui', sans-serif;
$ff-roboto: 'Roboto', 'Segoe Ui', sans-serif;
