@use './resets';
@use './fontface';
@use './transitions' as *;
@use './animations' as *;
@use './media' as *;
@use './variables' as *;
@use './buttons' as *;

body {
  background-color: $clr-tertiary;
  font-family: $ff-roboto;
  color: $clr-primary;
}

.l-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  align-items: center;
  gap: 10px 30px;

  @include bp-min('sm') {
    grid-template-columns: repeat(8, 1fr);
  }
}

.c-play-button {
  --radius: 45px;
  width: var(--radius);
  height: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $clr-tertiary;
  background-color: transparent;
  border-radius: 99999px;
  cursor: pointer;

  span {
    display: inline-block;
    --tr-size: 15px;
    width: var(--tr-size);
    height: calc(var(--tr-size) - 5px);
    background-color: $clr-tertiary;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg) translateY(-1px);
  }
}

.c-section-header {
  font-size: 3.4rem;
  letter-spacing: 0.02em;
  line-height: 1.1;
  font-family: $ff-tungsten;
  text-transform: uppercase;

  @include bp-min('sm') {
    font-size: 5rem;
  }
}

.o-section-subtitle {
  font-family: $ff-uni-sans;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.2;
  letter-spacing: 0.02em;

  @include bp-min('sm') {
    font-size: 1.5rem;
  }
}

.o-section-body {
  font-size: 0.85rem;
  color: $clr-text-secondary;
  line-height: 1.6;

  @include bp-min('sm') {
    font-size: 1rem;
  }
}

.grid-wrapper {
  margin-top: 2rem;

  @include bp-min('sm') {
    margin-top: 3rem;
  }
}

.c-loading {
  min-height: 100vh;
  width: 100vw;
  background-color: $clr-tertiary;
  position: fixed;
  top: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__spinner {
    --sz: 60px;
    width: var(--sz);
    height: var(--sz);
    border-radius: 99999px;
    border: 4px solid $clr-primary;
    border-color: $clr-primary;
    border-top-color: $clr-secondary;
    @include animate-spin;
  }

  &__text {
    margin-top: 1rem;
  }
}

.social {
  --clr-awal: #{$clr-tertiary};
  --clr-hover: #{$clr-secondary};
  display: flex;
  align-items: center;

  &__link {
    color: var(--clr-awal);
    font-size: 1.3rem;
    @include transition();

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &:hover {
      transform: translateY(-8px);
      color: var(--clr-hover);
    }
  }
}

.scroll-down {
  display: none;

  @include bp-min('sm') {
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    @include animate-bounce();
  }
}

.hamburger {
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  width: var(--size);
  height: var(--size);
  cursor: pointer;

  &__line {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $clr-tertiary;

    &::before,
    &::after {
      --distance: -8px;
      content: '';
      position: absolute;
      background-color: inherit;
      left: 0;
      right: 0;
      height: 100%;
    }

    &::before {
      top: var(--distance);
    }

    &::after {
      bottom: var(--distance);
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.3rem 2rem;
  background-color: $clr-primary;
  z-index: 100;

  @include bp-min('sm') {
    position: absolute;
    padding: 2rem 3rem;
  }

  .logo {
    height: 2rem;
  }
}

.section-container {
  padding: 5.25rem 2rem;
  @include bp-min('sm') {
    padding: 4rem 3rem;
  }
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.3);

  &--show {
    @include animate-fadeInLeft;
  }

  &--hidden {
    @include animate-fadeOutRight;
  }

  &--wrapper {
    margin-left: auto;
    background: $clr-secondary;
    width: 88%;
    height: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;

    .navbar {
      background-color: transparent;
      position: initial;
      padding: 1rem;
    }

    .hamburger__line {
      visibility: hidden;

      &::before,
      &::after {
        visibility: visible;
        top: 0;
        background-color: $clr-primary;
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    .social {
      --clr-awal: #{$clr-primary};
      --clr-hover: #{$clr-tertiary};
      margin: 0 auto;
      margin-top: auto;
      padding: 0 1rem;
    }
  }

  &__list-wrapper {
    margin: 2rem 0 0;
  }

  &__list {
    // outline: 2px solid aqua;
    padding: 0.1em 1.25em;
    padding-left: 1.5em;

    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }

    &--active {
      transform: scale(1.05) translate(15px, -2px);

      > .mobile-menu__link {
        font-size: 1.4rem;
        color: $clr-primary;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          background-color: $clr-primary;
          width: 100%;
          height: 3px;
          left: 0;
          bottom: -3px;
        }
      }
    }
  }

  &__link {
    font-family: $ff-uni-sans;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.03em;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: $clr-tertiary;
    @include transition();

    &:hover {
      color: $clr-primary;
    }
  }
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $clr-primary;
  text-align: center;
  color: $clr-tertiary;
  position: relative;
  z-index: 2;

  &__image {
    display: none;
  }

  &__title {
    font-family: $ff-uni-sans;
    font-weight: 900;
    line-height: 0.97;
    font-size: 4rem;
    letter-spacing: 0.05em;
    filter: drop-shadow(0 0 10px rgba($clr-primary, 0.8));
  }

  &__subtitle {
    margin-top: 1rem;
    max-width: 55ch;
    padding: 0 0.2rem;
    font-family: $ff-roboto;
    line-height: 1.6;
    font-size: 1rem;
  }

  &__btn {
    margin-top: 2rem;
  }

  &__container {
    position: absolute;
    display: flex;
    padding: 0 2rem;
    bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__watch-trailer {
    display: flex;
    align-items: center;
    font-family: $ff-uni-sans;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.06em;
    cursor: pointer;
    @include transition();

    &:hover {
      color: $clr-secondary;

      .c-play-button {
        border-top-color: $clr-secondary;
        @include animate-spin();
      }
    }

    .c-play-button {
      margin-right: 0.5rem;
    }

    .watch {
      font-size: 0.7rem;
      line-height: 1;
    }

    .trailer {
      font-size: 1rem;
      margin-top: 0.3rem;
      line-height: 1;
    }
  }

  @include bp-min('sm') {
    &__content--wrapper {
      margin-top: 20rem;
    }

    &__image {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      top: 12%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      // background: linear-gradient(180.09deg, $clr-primary 43.57%, red 87.3%),
      //   url('../assets/images/jett-desktop.png');
      background: linear-gradient(180deg, transparent 45%, $clr-primary 55%),
        url('../assets/images/jett-desktop.png');
      background-repeat: no-repeat;
      background-position: top center;
    }

    &__title {
      font-size: 5.5rem;
    }

    &__subtitle {
      font-size: 1.2rem;
      margin-top: 1.5rem;
    }

    &__btn {
      margin-top: 3rem;
    }
  }
}

/* ABOUT */
.about {
  &__content {
    grid-column: 1/6;
  }

  &__body {
    margin-top: 1rem;
  }

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#c4c4c4, 0.8);
    grid-column: 1/-1;
    min-height: 180px;
    align-self: stretch;
  }

  @include bp-min('sm') {
    &__content {
      grid-column: 1/5;
    }

    &__video {
      grid-column: 5/-1;
    }
  }
}

.agents {
  width: 100%;
  background-color: $clr-secondary;
  color: $clr-tertiary;
  position: relative;

  &--wrapper {
    @extend .section-container;
    padding-bottom: 2rem;
  }

  &__body {
    padding-right: 2em;
    margin-top: 2rem;
    font-size: 0.85rem;
    line-height: 1.6;
  }

  &__btn {
    z-index: 10;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 0.5em 1.5em;
  }

  &__images {
    position: relative;
    overflow-x: clip; // FIXME: Hacks
    margin: 0 auto;
    max-width: 450px;

    .sage {
      width: 70%;
      max-width: 320px;
      transform: translateX(-10px);
    }

    .raze {
      width: 70%;
      max-width: 320px;
      top: 0;
      right: 0;
      transform: translate(1rem, 3rem);
      position: absolute;
    }
  }

  @include bp-min('sm') {
    &__body {
      font-size: 1rem;
      max-width: 65ch;
    }

    &__btn {
      bottom: 150px;
      font-size: 1rem;
      padding: 0.6em 4.5em;
    }
  }
}

.maps {
  padding-top: 7rem;
  background-image: url('../assets/images/maps-bg.png');
  background-size: cover;

  &__content {
    grid-column: 1/6;
  }

  &__body {
    margin-top: 1rem;
  }

  &__btn {
    margin-top: 3rem;
  }
}

.footer {
  width: 100%;
  padding-top: 2rem;
  background-color: $clr-primary;
  color: $clr-tertiary;
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1rem;
    text-align: center;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0.1em 2em;
    background-color: $clr-secondary;
  }
}
