@use './resets';
@use './fontface';
@use './transitions' as *;
@use './animations' as *;
@use './media' as *;
@use './variables' as *;
@use './buttons' as *;

body {
  background-color: $clr-tertiary;
  font-family: $ff-roboto;
  color: $clr-primary;
}

.l-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 10px 30px;

  @include bp-min('sm') {
    grid-template-columns: repeat(8, 1fr);
  }

  @include bp-min('md') {
    grid-template-columns: repeat(12, 1fr);
  }
}

.c-play-button {
  position: relative;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    .c-play-button__icon {
      color: $clr-secondary;
    }
  }

  &__spinner {
    --radius: 45px;
    width: var(--radius);
    height: var(--radius);
    border: 2px solid $clr-tertiary;
    background-color: transparent;
    border-radius: 99999px;
  }

  &__icon {
    position: absolute;
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    @include transition();
  }

  @include bp-min('md') {
    &:hover {
      .c-play-button__icon {
        color: $clr-primary;
      }
    }

    &__spinner {
      --radius: 70px;
    }

    &__icon {
      font-size: 1.2rem;
    }
  }
}

.c-trailer {
  display: flex;
  align-items: center;
  font-family: $ff-uni-sans;
  font-weight: 900;
  text-align: left;
  letter-spacing: 0.06em;
  cursor: pointer;

  &__button {
    margin-right: 0.5rem;
  }

  &__top {
    font-size: 0.7rem;
    line-height: 1;
  }

  &__bottom {
    font-size: 1rem;
    margin-top: 0.3rem;
    line-height: 1;
  }

  @include bp-min('md') {
    &__button {
      margin-right: 1rem;
    }

    &__top,
    &__bottom {
      letter-spacing: 0.025em;
    }

    &__top {
      font-size: 1.1rem;
    }

    &__bottom {
      font-size: 1.5rem;
    }
  }
}

.c-section-header {
  font-size: 3.4rem;
  letter-spacing: 0.02em;
  line-height: 1.1;
  font-family: $ff-tungsten;
  text-transform: uppercase;

  @include bp-min('sm') {
    font-size: 5rem;
  }

  @include bp-min('md') {
    font-size: 7rem;
  }

  @include bp-min('lg') {
    font-size: 8.5rem;
  }
}

.o-section-subtitle {
  font-family: $ff-uni-sans;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.2;
  letter-spacing: 0.02em;

  @include bp-min('sm') {
    font-size: 1.5rem;
  }

  @include bp-min('md') {
    font-size: 1.8rem;
  }
}

.o-section-body {
  font-size: 0.85rem;
  color: $clr-text-secondary;
  line-height: 1.6;
  max-width: 45ch;

  @include bp-min('sm') {
    font-size: 1rem;
  }

  @include bp-min('md') {
    font-size: 1.125rem;
  }
}

.section-container {
  padding: 5.25rem 2rem;
  @include bp-min('sm') {
    padding: 4rem 3rem;
  }

  @include bp-min('md') {
    padding: 4rem 5rem;
  }
}

.grid-wrapper {
  margin-top: 2rem;

  @include bp-min('sm') {
    margin-top: 3rem;
  }

  @include bp-min('md') {
    margin-top: 4.5rem;
  }
}

.c-loading {
  min-height: 100vh;
  width: 100vw;
  background-color: $clr-tertiary;
  position: fixed;
  top: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__spinner {
    --sz: 60px;
    width: var(--sz);
    height: var(--sz);
    border-radius: 99999px;
    border: 4px solid $clr-primary;
    border-color: $clr-primary;
    border-top-color: $clr-secondary;
    @include animate-spin;
  }

  &__text {
    margin-top: 1rem;
  }
}

.social {
  --clr-awal: #{$clr-tertiary};
  --clr-hover: #{$clr-secondary};
  display: flex;
  align-items: center;

  &__link {
    color: var(--clr-awal);
    font-size: 1.3rem;
    @include transition();

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &:hover {
      transform: translateY(-8px);
      color: var(--clr-hover);
    }
  }

  @include bp-min('md') {
    &__link {
      font-size: 1.7rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

.scroll-down {
  display: none;

  @include bp-min('sm') {
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    @include animate-bounce();
  }

  @include bp-min('md') {
    display: none;
  }
}

.hamburger {
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  width: var(--size);
  height: var(--size);
  cursor: pointer;

  &__line {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $clr-tertiary;

    &::before,
    &::after {
      --distance: -8px;
      content: '';
      position: absolute;
      background-color: inherit;
      left: 0;
      right: 0;
      height: 100%;
    }

    &::before {
      top: var(--distance);
    }

    &::after {
      bottom: var(--distance);
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.3rem 2rem;
  background-color: $clr-primary;
  z-index: 100;

  @include bp-min('sm') {
    position: absolute;
    padding: 2rem 3rem;
  }

  .logo {
    height: 2rem;
  }

  @include bp-min('md') {
    background-color: transparent;
    padding: 1.5rem 2rem;

    .hamburger {
      display: none;
    }

    .logo {
      height: 3rem;
    }
  }

  @include bp-min('lg') {
    padding: 3rem;
  }
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.3);

  &--show {
    @include animate-fadeInLeft;
  }

  &--hidden {
    @include animate-fadeOutRight;
  }

  &--wrapper {
    margin-left: auto;
    background: $clr-secondary;
    width: 88%;
    height: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;

    .navbar {
      background-color: transparent;
      position: initial;
      padding: 1rem;
    }

    .hamburger__line {
      visibility: hidden;

      &::before,
      &::after {
        visibility: visible;
        top: 0;
        background-color: $clr-primary;
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    .social {
      --clr-awal: #{$clr-primary};
      --clr-hover: #{$clr-tertiary};
      margin: 0 auto;
      margin-top: auto;
      padding: 0 1rem;
    }
  }

  &__list-wrapper {
    margin: 2rem 0 0;
  }

  &__list {
    padding: 0.1em 1.25em;
    padding-left: 1.5em;

    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }

    &--active {
      transform: scale(1.05) translate(15px, -2px);

      > .mobile-menu__link {
        font-size: 1.4rem;
        color: $clr-primary;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          background-color: $clr-primary;
          width: 100%;
          height: 3px;
          left: 0;
          bottom: -3px;
        }
      }
    }
  }

  &__link {
    font-family: $ff-uni-sans;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.03em;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: $clr-tertiary;
    @include transition();

    &:hover {
      color: $clr-primary;
    }
  }
}

.top {
  // TODO: geser kanan dikit itu bg-secondary nyaa buat lg screen
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $clr-primary;
  text-align: center;
  color: $clr-tertiary;
  position: relative;
  z-index: 2;

  &__image {
    &--mobile {
      display: none;
    }
    &--desktop {
      display: none;
    }
  }

  &__title {
    font-family: $ff-uni-sans;
    font-weight: 900;
    line-height: 0.97;
    font-size: 4rem;
    letter-spacing: 0.05em;
    filter: drop-shadow(0 0 10px rgba($clr-primary, 0.8));
  }

  &__subtitle {
    margin-top: 1rem;
    max-width: 55ch;
    padding: 0 0.2rem;
    font-family: $ff-roboto;
    line-height: 1.6;
    font-size: 1rem;
  }

  &__btn {
    margin-top: 2rem;
  }

  &__container {
    position: absolute;
    display: flex;
    padding: 0 2rem;
    bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
  }

  @include bp-min('sm') {
    &__content--wrapper {
      margin-top: 20rem;
    }

    &__image--desktop {
      display: none;
    }

    &__image--mobile {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      top: 12%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      background: linear-gradient(180deg, transparent 45%, $clr-primary 55%),
        url('../assets/images/jett.png');
      background-repeat: no-repeat;
      background-position: top center;
    }

    &__title {
      font-size: 5.5rem;
    }

    &__subtitle {
      font-size: 1.2rem;
      margin-top: 1.5rem;
    }

    &__btn {
      margin-top: 3rem;
    }
  }

  @include bp-min('md') {
    flex-direction: row;
    justify-content: initial;
    overflow: clip;
    padding-bottom: 2rem;

    &__container {
      padding: 0 2.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      right: -48%;
      z-index: -1;
      background-color: $clr-secondary;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      box-shadow: 0 0 10px rgba(#000, 0.3);
    }

    &__image--mobile {
      display: none;
    }

    &__image--desktop {
      order: 1;
      display: block;
      margin-top: auto;
      filter: drop-shadow(0 0 1em rgba(#000, 0.3)); // TODO: Tanya nadya

      .character {
        max-width: 90%;
      }
    }

    &__content--wrapper {
      margin: initial;
      text-align: left;
    }

    &__subtitle {
      max-width: 45ch;
    }
  }

  @include bp-min('lg') {
    align-items: center;
    &__title {
      font-size: 6rem;
    }

    &__image--desktop {
      margin-left: 2rem;
      margin-top: 0;
      .character {
        max-width: 100%;
      }
    }
  }
}

.c-newspaper {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  &:hover {
    .c-newspaper__image {
      &::before {
        transform: translateX(0);
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 200px;
    background-color: #c4c4c4;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 102%;
      height: 101%;
      background-color: rgba($clr-secondary, 0.6);
      top: 0;
      transform: translateX(-110%) skew(-20deg);
      @include transition();
    }
  }

  &__date,
  &__headlines {
    font-family: $ff-uni-sans;
    letter-spacing: 0.04em;
    line-height: 1.1;
    font-weight: 900;
  }

  &__date {
    font-size: 1rem;
    margin-top: 1rem;
  }

  &__headlines {
    font-size: 1.4rem;
    line-height: 0.8;
    margin-top: 1rem;
    color: $clr-secondary;
  }

  @include bp-min('sm') {
    &__image {
      width: 550px;
      height: 300px;
    }
    &__date {
      font-size: 1.25rem;
      margin-top: 1.25rem;
    }

    &__headlines {
      font-size: 1.8rem;
      line-height: 0.8;
      margin-top: 1rem;
      color: $clr-secondary;
    }
  }

  @include bp-min('md') {
    &__image {
      width: 382px;
      height: 232px;
    }
  }
}

.news {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 6rem;

  &__title {
    color: $clr-secondary;
    position: relative;
    top: 2.5rem;
    left: 0.4rem;
    z-index: 10;
  }

  &__link--mobile {
    display: inline-block;
    font-family: $ff-uni-sans;
    font-weight: 900;
    letter-spacing: 0.04em;
    color: $clr-secondary;
    margin-top: 1rem;

    i {
      margin-left: 0.5rem;
    }
  }

  .l-news-wrapper {
    display: grid;
    grid-template-columns: repeat(12, auto);
    justify-items: center;
    align-items: center;
    padding: 1.5rem 0;
    overflow: hidden;
    // overflow: scroll;
    // overflow-y: hidden;
    // scrollbar-width: thin;
    // scrollbar-color: $clr-primary $clr-tertiary;
    gap: 4rem;
  }

  @include bp-min('sm') {
    &__link--mobile {
      display: none;
    }

    &__title {
      color: $clr-secondary;
      position: relative;
      top: 3.5rem;
      left: 0.4rem;
      z-index: 10;
      font-size: 7rem;
    }
    .l-news-wrapper {
      overflow: scroll;
      overflow-y: hidden;
      scrollbar-width: thin;
      scrollbar-color: $clr-primary $clr-tertiary;
    }
  }

  @include bp-min('md') {
    padding-bottom: 5.5rem;
  }
}

.agents {
  width: 100%;
  background-color: $clr-secondary;
  color: $clr-tertiary;
  position: relative;

  &--wrapper {
    @extend .section-container;
    padding-bottom: 2rem;
  }

  &__body {
    max-width: 35ch;
    margin-top: 2rem;
    line-height: 1.6;
    color: $clr-tertiary;
  }

  &__btn--desktop {
    display: none;
  }

  &__btn {
    z-index: 10;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 0.5em 1.5em;
  }

  &__images {
    position: relative;
    overflow-x: clip; // FIXME: Hacks
    margin: 0 auto;
    max-width: 450px;

    .sage {
      width: 70%;
      max-width: 320px;
      transform: translateX(-10px);
    }

    .raze {
      width: 70%;
      max-width: 320px;
      top: 0;
      right: 0;
      transform: translate(1rem, 3rem);
      position: absolute;
    }
  }

  @include bp-min('sm') {
    &__body {
      font-size: 1rem;
      max-width: 65ch;
    }

    &__btn {
      bottom: 150px;
      font-size: 1rem;
      padding: 0.6em 4.5em;
    }
  }

  @include bp-min('md') {
    display: flex;
    padding: 4rem 0;
    // gap: 2rem;

    &--wrapper {
      order: 1;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__title {
      max-width: 8ch;
      line-height: 1;
    }

    &__body {
      max-width: 50ch;
      font-size: 1.125rem;
      margin-top: 2.5rem;
    }

    &__btn--desktop {
      display: initial;
      margin-top: 6rem;
      max-width: 80%;
    }

    &__btn {
      display: none;
    }

    &__images {
      max-width: none;
      margin: 0;
      flex-grow: 1;

      .sage {
        width: 60%;
        max-width: 100%;
        transform: translateX(10%);
      }

      .raze {
        max-width: 100%;
        width: 60%;
        top: 18%;
        left: 40%;
        transform: translate(0);
      }
    }
  }

  @include bp-min('lg') {
    padding-left: 5rem;
    padding-right: 5rem;

    &--wrapper {
      justify-content: center;
    }

    &__images {
      .sage {
        width: 45%;
        transform: translateX(20%);
      }

      .raze {
        width: 45%;
        top: 15%;
      }
    }
  }
}

.maps {
  padding-top: 7rem;

  &--bg-image {
    background-image: url('../assets/images/maps-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    grid-column: 1/6;
  }

  &__body {
    margin-top: 1rem;
  }

  &__btn {
    margin-top: 3rem;
  }

  @include bp-min('md') {
    &--bg-image {
      background-position: center center;
    }
  }

  @include bp-min('lg') {
    margin-top: 3.5rem;
    min-height: 100vh;
    max-height: 120vh;
    &--bg-image {
      background-position: top -5px left 0px;
    }
  }
}

.footer {
  width: 100%;
  background-color: $clr-primary;
  color: $clr-tertiary;

  &__top {
    padding: 0.8rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }

  &__title {
    font-family: $ff-uni-sans;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.04em;
    line-height: 1.3;
  }

  .social {
    &__link {
      font-size: 1.4rem;
    }
  }

  &__bottom {
    padding: 1.125rem 1.8rem;
    background-color: $clr-secondary;
  }

  .copyright {
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.6;

    &__links {
      display: none;
    }
  }

  @include bp-min('sm') {
    &__top {
      padding: 0.75rem 2.1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .social {
      &__link {
        &:not(:last-child) {
          margin-right: 2.25rem;
        }
      }
    }

    .copyright {
      max-width: 80ch;
      font-size: 1.125rem;
      &__links {
        text-align: center;
        margin-top: 1px;
        display: inline-flex;
        gap: 1rem;
      }

      &__link {
        color: $clr-tertiary;
        font-size: inherit;
        text-decoration: underline;
      }
    }
  }
}
